@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

:root {
    --cor-principal: #F1C9D2;
    --cor-secundaria: #232222;
    --fonte-principal: "Imperial Script", cursive; 
    --fonte-secundaria: "Lexend Giga", sans-serif; 
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--cor-principal);
}

.carregando_pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imagem_calendario {
    width: 200px;
    position: absolute;
}

.fade-out {
    opacity: 1;
    transition: opacity 1s ease;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.container_principal {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    display: none;
}

.fade-in {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.frame {
    background-color: var(--cor-principal);
    border: dashed 2px #232222;
    padding: 5rem;
    border-radius: 2rem;
    box-shadow: #232222;
}

.container_conversor {
    display: flex;
    flex-direction: column;
    align-items: center;

}

a {
    text-decoration: none;
}

.titulo_principal {
    font-size: 5rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    font-weight: 400;
    margin: 0;
}

.titulo_legenda {
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    color: #4B4B4B;
    margin: 0;
}

.texto_informativo {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    margin-top: 5rem;
}

input {
    display: none;
}

label {
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    border: dashed 2px #F1C9D2;
    margin: 0.5rem;
    width: 100%;
    text-align: center;
}

label:hover {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border: dashed 2px #232222;
}

.botao_converter {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.botao_converter:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

textarea {
    width: 100%;
    resize: none;
    overflow-y: auto;
    background-color: #efeeee;
    border: solid 1px #232222;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1rem;
    display: flex;
    text-align: center;
}

.resultado {
    margin-top: 3rem;
}


#resultado {
    font-size: 1rem;
    margin: 0;
}